body{
    background-color: #0C3060;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-webkit-viewport {
  width: device-width ;
}

img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    }

    p{
        text-align: center;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

.announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(185, 64, 64);
    color: rgb(255, 255, 255);
    font-family: Arial, sans;
    font-weight: 900;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.7em;
  }
  
  .announcement a { 
    color: #ccc; 
  }
  
  .announcement a:hover {
    color: red;
  }

  .pay{
    display: block;
 width: 500px;
 height: 450px;
 margin: auto;
 margin-top: 20px;
background-color: #006674;
border-radius: 0px;
border-color: black;
border-style: solid;
color: rgb(255, 255, 255);
word-break: break-word;
}

h2{
    text-align: center;
}

p{
    color: white;
}

.center2 img{
    margin-top: 4%;
}

input{
  margin-top: 2%;
}

input.submit{
  background-color: #006674;
  color: rgb(200, 255, 200);
  padding: 10px 24px;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
}

